@let pokemonList = pokemonListRequest(); @let scenaries =
battleScenariesRequest();

<section class="app-container">
  <h1>Pokemon List</h1>

  <app-header [pokemonFirst]="pokemonList?.[0]" />

  <app-scenaries-container
    [scenaries]="scenaries ?? []"
    [scenariesCompleted]="scenariesCompleted"
    [limit]="limit()"
    [totalElements]="totalElements()"
    [page]="page()"
    (setPage)="setPage($event)"
    (setfilter)="setfilter($event)"
    (setLimit)="setLimit($event)"
    (update)="update($event)"
  />

  @if (pokemonList) {
  <div>
    <ul>
      @for (pokemon of pokemonList; track pokemon.name) {
      <li>{{ pokemon.name }}</li>
      }
    </ul>
  </div>
  } @else {
  <div>
    <h1>No pokemons in the list</h1>
  </div>
  }

  <app-pokemon-form />
</section>

<router-outlet />
